.App {
  text-align: center;

#quote-box {
  padding: 25px;
  background-color: rgb(245, 240, 240);
  border-radius: 10px;
  color: black;

  #author{
    text-align: end;
  }
.button{
  
  #tweet-quote{
    border-radius: 10px;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    color: #fff;
    background-color: #282c34;
    text-decoration: none;
  }

}
  
  #new-quote{
    float: right;
    color: #fff;
    background-color: #282c34;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;

  }

}

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}




